<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据监测</title>
    <script src="static/js/highcharts.js"></script>
    <script src="static/js/exporting.js"></script>
    <script src="static/js/highcharts-zh_CN.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.6.0.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <link rel="stylesheet" href="static/css/menu.css">
    <link rel="shortcut icon" href="static/favicon.ico" th:href="@{static/favicon.ico}"/>
</head>
<style>
    .show {
        padding: 0;
        margin: 0;
        min-width:1460px;
        height:355px;
        background: white;
        position: absolute;
        top: 55px;
    }
</style>
<body>
<div style="width: 100%;height: 100%">
    <div class="leftMenu">
        <div style="height: 60px;width: 50px"></div>
        <button class="menu"><a th:href="@{data}">数据监测</a></button>
        <button class="menu"><a th:href="@{control}">设备控制</a></button>
        <button class="menu"><a th:href="@{update}">设备管理</a></button>
        <button class="menu"><a th:href="@{user}">数据管理</a></button>
        <button class="menu"><a th:href="@{index}">退出</a></button>
    </div>

    <div style="position: absolute;left: 50px;">
        <div style="height: 50px;width:1460px;">
            <p align="center" style="margin-top: 5px;color: rgb(95, 76, 194);font-size: xx-large">
                欢迎使用智能家居控制系统
            </p>
        </div>
        <div class="show" id="tableArea">
            <table id="table" width="1460px" align="center" border="1px">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>设备名</th>
                    <th>工作位置</th>
                    <th>设备类型</th>
                    <th>实时数据</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</body>
<script>
    var recData = null;
    function creatTable(data) {
        var oTab = document.getElementById('table');
        var oTbody = oTab.tBodies[0];

        for(var i=0;i<data.length;i++){
            let j = i;
            var oTr = document.createElement('tr');
            var oTd = document.createElement('td');

            oTd.innerHTML = i+1;
            oTd.align = 'center';
            oTr.appendChild(oTd);

            oTd = document.createElement('td');
            oTd.innerHTML = data[i].name;
            oTd.align = 'center';
            oTr.appendChild(oTd);

            oTd = document.createElement('td');
            oTd.innerHTML = data[i].location;
            oTd.align = 'center';
            oTr.appendChild(oTd);

            oTd = document.createElement('td');
            var type = data[i].type
            switch (type) {
                case 1:
                    type = "温度传感器";
                    break;
                case 2:
                    type = "湿度传感器";
                    break;
                case 3:
                    type = "光强传感器";
                    break;
                case 4:
                    type = "可燃气传感器";
                    break;
                case 5:
                    type = "开关";
                    break;
                case 6:
                    type = "温湿度传感器";
            }
            oTd.innerHTML = type;
            oTd.align = 'center';
            oTr.appendChild(oTd);

            oTd = document.createElement('td');
                oP = document.createElement('p');
                oP.id = data[i].ip;
                oP.innerHTML = '---';
                oTd.appendChild(oP);
            oTd.align = 'center';
            oTr.appendChild(oTd);

            oTd = document.createElement('td');
                oP = document.createElement('p');
                oP.id = data[i].ip+"DATE";
                oP.innerHTML = '---';
                oTd.appendChild(oP);
            oTd.align = 'center';
            oTr.appendChild(oTd);

            var oD = document.createElement('div');
            oD.className = 'slider';
            oTbody.appendChild(oTr);
        }
    }
    document.onreadystatechange = function (){
        if (document.readyState === "complete"){
            $.ajax({
                url:"/getAllEqExceptSwitch",
                type:"GET",
                dataType:"json",
                success:function (res) {
                    recData = res;
                    creatTable(res);
                }
            });
        }
    }

    const options = {
        clean: true, // true: 清除会话, false: 保留会话
        connectTimeout: 5000, // 超时时间
        // 认证信息
        clientId: 'MQTT-JS',	//客户端ID
        username: 'admin', //连接用户名
        password: 'super',
        // 心跳时间
        keepalive: 60,
    }

    const connectUrl = "ws://127.0.0.1:8083/mqtt"
    const client = mqtt.connect(connectUrl, options)

    client.on('connect', () => {
        console.log('连接成功')
        //订阅主题
        client.subscribe(
            ['DATA-LIGHT','DATA-TH','DATA-MQ4'],//接受传感器数据
            { qos: 1 },
            (err) => {
                console.log(err || '订阅成功')
            },
        );
    })
    //失败重连
    client.on('reconnect', (error) => {
        console.log('正在重连:', error)
    })
    //连接失败
    client.on('error', (error) => {
        console.log('连接失败:', error)
    })
    //接收消息
    client.on('message', (topic, message) => {
        var msg = message.toString();
        console.log('收到消息：', topic, msg);

        var data = msg.split("-");

        if (data.length < 3){
            var c1 = document.getElementById(data[1].toString());

            if (topic === "DATA-LIGHT"){
                c1.innerHTML = data[0] + "Lux";
                var ca = document.getElementById(data[1].toString()+"DATE");
                ca.innerHTML = getNowTime();
            }else if (topic === "DATA-MQ4"){
                c1.innerHTML = data[0] + "PPM";
                var cb = document.getElementById(data[1].toString()+"DATE");
                cb.innerHTML = getNowTime();
            }

        }else if (topic === "DATA-TH"){
            var c2 = document.getElementById(data[2].toString());
            c2.innerHTML = data[0] + "℃" +"-"+data[1] + "%";
            var cc = document.getElementById(data[2].toString()+"DATE");
            cc.innerHTML = getNowTime();
        }
    })

    function getNowTime() {
        let date = new Date();
        let time = date.getHours().toString() +":"+ date.getMinutes().toString()+":"+date.getSeconds();
        return time;
    }
</script>
</html>