<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据监测</title>
    <script src="static/js/highcharts.js"></script>
    <script src="static/js/exporting.js"></script>
    <script src="static/js/highcharts-zh_CN.js"></script>
    <link rel="stylesheet" href="static/css/menu.css">
</head>
<style>
    .show {
        padding: 0;
        margin: 0;
        min-width:1460px;
        height:355px;
        background: white;
        position: absolute;
        top: 55px;
    }
</style>
<body>
<div style="width: 100%;height: 100%">
    <div class="leftMenu">
        <div style="height: 60px;width: 50px"></div>
        <button class="menu"><a th:href="@{data}">数据监测</a></button>
        <button class="menu"><a th:href="@{control}">设备控制</a></button>
        <button class="menu"><a th:href="@{update}">设备管理</a></button>
        <button class="menu"><a th:href="@{add}">添加设备</a></button>
        <button class="menu"><a th:href="@{user}">用户中心</a></button>
        <button class="menu"><a th:href="@{setting}">个人设置</a></button>
        <button class="menu"><a th:href="@{index}">退出</a></button>
    </div>

    <div style="position: absolute;left: 50px;">
        <div style="height: 50px;width:1460px;">
            <p align="center" style="margin-top: 5px;color: rgb(95, 76, 194);font-size: xx-large">
                欢迎使用智能家居控制系统
            </p>
        </div>
        <div class="container" id="c1"></div>
        <div class="container" id="c2"></div>
        <div class="container" id="c3"></div>
        <div class="container" id="c4"></div>
    </div>
</div>

</body>
<script>
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });

    function activeLastPointToolip(chart) {
        var points = chart.series[0].points;
        chart.tooltip.refresh(points[points.length -1]);
    }

    function startChart(chartName,frame) {
        var chart = Highcharts.chart(chartName, {
            chart: {
                type: 'spline',
                marginRight: 10,
                events: {
                    load: function () {
                        var series = this.series[0],
                            chart = this;
                        activeLastPointToolip(chart);
                        setInterval(function () {
                            var x = (new Date()).getTime(), // 当前时间
                                y = 5-Math.random()*10;          // 随机值
                            series.addPoint([x, y], true, true);
                            activeLastPointToolip(chart);
                        }, frame);
                    }
                }
            },
            title: {
                text: '实时温度'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: '摄氏度'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2)+
                        '℃';
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: '温度',
                data: (function () {
                    // 生成随机值
                    var data = [],
                        time = (new Date()).getTime(),
                        i;
                    for (i = -10; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: 0
                        });
                    }
                    return data;
                }())
            }]
        });
    }
    startChart('c1',5000)
    startChart('c2',5000)
    startChart('c3',5000)
    startChart('c4',5000)
</script>
</html>